---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
---

<footer class="section bg-theme-dark">
  <div class="container text-center">
    {/* social icons */}
    <Social source={social} className="social-icons mb-8" />
  </div>
</footer>
