---
import Base from "@/layouts/Base.astro";
import SearchBar, { type SearchItem } from "@/layouts/SearchBar";
import { getSinglePage } from "@/lib/contentParser.astro";

// Retrieve all articles
const posts: SearchItem[] = (await getSinglePage("posts")).map(post => ({
  slug: post.id,
  data: post.data,
  content: post.body
}));

const pages: SearchItem[] = (await getSinglePage("pages")).map(post => ({
  slug: post.slug,
  data: post.data,
  content: post.body,
}));

// List of items to search in
const searchList = posts.concat(pages);
---

<Base title={`Search`}>
  <section class="section">
    <div class="container">
      <SearchBar client:load searchList={searchList} />
    </div>
  </section>
</Base>
